Repository codeusb/sexxion-x: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:eslint, pnpm run lint:prettier, pnpm run lint:stylelint, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["pnpm run lint:eslint", "pnpm run lint:prettier"],
  "*.{css,less,scss}'": ["pnpm run lint:stylelint", "prettier --write"],
  "*.{ts,tsx,js,jsx,json,html,yml,json,css,less,scss,sass,md}": [
    "prettier --write"
  ]
}

feat: update202311802
  package.json
  packages/business-ui/vite.config.ts
  packages/ui/package.json
  packages/ui/src/components/input/textarea/index.tsx
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm run lint:eslint, pnpm run lint:prettier, prettier --write

feat: update2023111803
  package.json
Due: prettier --write

feat: up23111805
  .gitignore
Due: none

feat: up111806
  .gitignore
  packages/docs/.gitignore
  packages/example/tsconfig.tsbuildinfo
  packages/shared/.gitignore
  tsconfig.tsbuildinfo
Due: none

feat: up2023111807
  packages/docs/src/work/index.md
Due: prettier --write

feat: publish1118
  packages/business-ui/CHANGELOG.md
  packages/business-ui/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/example/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

feat: 测试github
  .changeset/config.json
  .eslintignore
  README.md
  package.json
  packages/example/package.json
  packages/example/src/App.tsx
  packages/example/vite.config.ts
  packages/ui/package.json
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/button/style/index.less
  packages/ui/src/components/divider/style/index.less
  packages/ui/src/components/index.ts
  packages/ui/src/components/input/style/index.less
  packages/ui/src/components/input/style/textarea.less
  packages/ui/src/components/layout/style/index.less
  packages/ui/src/components/menu/styles/index.less
  packages/ui/src/components/pagination/style/index.less
  packages/ui/src/components/radio/style/index.less
  packages/ui/src/components/select/style/index.less
  packages/ui/src/components/space/space.tsx
  packages/ui/src/components/tree-select/context.ts
  packages/ui/src/components/tree-select/index.ts
  packages/ui/src/components/tree-select/style/index.less
  packages/ui/src/components/tree-select/tree-select.tsx
  packages/ui/src/components/tree-select/type.ts
  packages/ui/src/components/tree/context.tsx
  packages/ui/src/components/tree/index.ts
  packages/ui/src/components/tree/style/animation.less
  packages/ui/src/components/tree/style/index.less
  packages/ui/src/components/tree/tree.tsx
  packages/ui/src/components/tree/type.ts
  packages/ui/src/global.d.ts
  packages/ui/src/index.ts
  packages/ui/src/style/style.less
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: pnpm run lint:eslint, pnpm run lint:prettier, prettier --write
